@model List<TaskManager.Models.TaskModel>

@{
    ViewData["Title"] = "Tarefas";
}

<h2>Minhas Tarefas</h2>

<a class="btn btn-success mb-3" asp-action="Create">Nova Tarefa</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarefa in Model)
        {
            <tr>
                <td>@tarefa.Id</td>
                <td>@tarefa.Name</td>
                <td>@tarefa.Description</td>
            </tr>
        }
    </tbody>
</table>
